@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

   .topstrip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    color: white;
    padding: 10px;
    font-size: 10px;
    font-weight: bold;
    height: 8px;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .logo {
    width: 18px; 
    height: 18px; 
    margin-left: 10px; /* Adjust spacing between logos */
    opacity: 0.7;
  }
  
  /* Position logo container to the right */
  .logo-container {
    margin-right: 20px; /* Adjust spacing from the right */
  }
  
  .topstripname{
    margin-left: 20px;
  }

  p{
    opacity: 0.7;
  }